---
layout: default
description: "Projeto do coração de Deus"
permalink: /
---

{% include banner.html image="/assets/img/familia-oracao.jpg" 
    title=site.title 
    description=site.description 
%}


<section class="section">
    <div class="container">
        <h2 class='text-center'>Reuniões</h2>
        <div class="block">{% include cultos.html %}</div>
    </div>
</section>


<div class="section bg-white">
    <div class="container is-small">
        <h2>Contribua com a obra do Senhor</h2>
        <div class='block'>
            <div class="text-justify">
                <q>Cada um contribua segundo propôs no seu coração; não com tristeza, ou por necessidade; porque Deus ama ao que dá com alegria.</q>
            </div>
            <div class="text-right">
                <small><i>&mdash; 2 Coríntios 9:7</i></small>
            </div>
        </div>
        <div class="block text-justify">
            Confira como você pode ajudar o ministério através de dízimos, ofertas e doações.
        </div>
        <div class="block text-center">
            <a class="button" href="/doacoes">
                Saiba como contribuir
            </a>
        </div>
    </div>
</div>