<header class="top-header {{ include.class }}">
    <nav class="container is-flex">
        <a href="/">
            <img src="/assets/img/logo.png" alt="{{ site.title }}" title="{{ site.description }}" width="250">
        </a>
        <ul>
            <li>
                <a href="/" class="{% if page.url == '/'%}active{% endif %}">Início</a>
            </li>
            <li>
                <a href="/sobre" class="{% if page.url == '/sobre' %}active{% endif %}">Sobre</a>
            </li>
            <li>
                <a href="/palavra-de-deus" class="{% if page.url == '/palavra-de-deus' %}active{% endif %}">Palavra de Deus</a>
            </li>
        </ul>
    </nav>
</header>