
@for $i from 1 through 5 {
    $value: #{$i * 0.5}rem;
    .mb-#{$i}{
        margin-bottom: $value;
    }
    .mt-#{$i} {
        margin-top: $value;
    }
}



/** GRID **/

$gutter: 2rem;


@mixin grid($prefix: '') {

    .col{
        flex: 0 0 auto;
        padding-left: $gutter/2;
        padding-right: $gutter/2;
    }

    @for $i from 1 through 12 {
        
        > .col#{$prefix}-#{$i} {
            flex: 0 0 #{$i * 100%/12};
            padding-left: $gutter/2;
            padding-right: $gutter/2;
        }
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;

    &.is-centered{
        justify-content: center;
    }

    &.is-centered-v{
        align-items: center;
    }

    &.is-space-between{
        justify-content: space-between;
    }

    &.is-space-around{
        justify-content: space-around
    }

    @include grid();
    
    @include device-mobile{
        @include grid('-sm');
    }
}


.show-sm{
    display: none;
    @include device-mobile {
        display: block;
    }
}

.shadow
{
    @extend %box-shadow;
}
