*, ::before, ::after{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 100%;
    @include device-mobile {
        font-size: 80%;
    }
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.3;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    // list-style: none;
}

li {
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}


button{
    appearance: none;
    font-family: inherit;
    outline: none;

}
input {
    font-family: inherit;
    outline: none;

}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;

    tr {
        > td,
        > th {
            padding: 0.5rem 0;
        }
    }
}