@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
@import "variables";
@import "reset";

:root {
    --color-red: #{$color-red};
}

body {
    background: $color-light;
    color: $color-black;
    font-family: $font-family-default;
    padding: 0;
    margin: 0;
}

@import "structure";
@import "helpers";

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.1rem;
}

a{
    transition: all 500ms ease;
    &:hover{
        color: $color-red;
    }
}

.top-header {
    // background-color: darken($color-white, 5%);
    border-top: 3px solid $color-red;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    >nav {
        justify-content: space-between;
        @include device-mobile{
            flex-direction: column;
            align-items: center;
        }

        > a > img {
            max-width: 100%;
            @include device-mobile{
                margin-top: 1rem;
                width: 280px;
            }
        }

        >ul {
            display: flex;
            // flex: 1;
            align-items: center;
            color: $color-black;

            >li>a {
                padding: 5px 10px;
                @include device-mobile{
                    padding: 1rem;
                }

                &.active
                {
                    color: $color-red;
                }
            }
        }
    }

}

.banner{
    height: 650px;
    background-size: cover;
    background-position: bottom;
    background-color: $color-black;
    background-blend-mode: multiply;

    @include device-mobile{
        height: calc(100vh - 125px);
    }

    > .container {
        min-height: 100%;
        color: $color-white;
        > .banner-title {
            font-size: 3rem;
            text-align: center;
        }

        > .banner-description {
            font-size: 1.3rem;
        }
    }
}

.box{
    background-color: $color-black;
    color: $color-white;
    padding: 1.5rem;
    border-radius: 4px;
    @extend %box-shadow;
}

.button{
    background-color: $color-red;
    border: none;
    color: $color-white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}


.card{
    background-color: $color-white;
    @extend %box-shadow;
    padding: 1rem;
}


.bg-white{
    background-color: $color-white;
}


.footer{
    background-color: $color-grey;
    // color: $color-light;
    border-top: 3px solid $color-light;
    // color: $color-red;

    nav{

        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;

        ul {
            > li {
                padding-top: 5px;
                padding-bottom: 5px;
            }       
        }
    }


    
}

.copyright{
    background-color: $color-black;
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $color-light;
}