@import "variables";
@import "reset";

body {
    background: $color-white;
    color: $color-black;
    font-family: $font-family-default;
    padding: 0;
    margin: 0;
}

@import "structure";

.top-header {
    // background-color: darken($color-white, 5%);
    border-top: 3px solid $color-red;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    >nav {
        justify-content: space-between;

        >ul {
            display: flex;
            // flex: 1;
            align-items: center;
            color: $color-black;

            >li>a {
                padding: 5px 10px;
            }
        }

    }
}

.banner{
    height: 650px;
    background-size: cover;
    background-position: bottom;
    background-color: $color-black;
    background-blend-mode: multiply;

    > .container {
        min-height: 100%;
        > .banner-title {
            color: $color-white;
            font-size: 3rem;
            text-align: center;
        }

        > .banner-description {
            font-size: 1.3rem;
        }
    }
}